.search__tabs {
  display: flex;
  font-size: 1.6rem;
  color: #657786;
  font-weight: 500;
}

.search__tab {
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom: 1rem;
}

.search__tab.search__tab--active {
  color: #14171a;
  font-weight: 700;
}

.search__tab--active {
  border-bottom: 5px solid #1da1f2;
}
