nav.nav
  ion-icon.nav__icon(name='logo-twitter')
  ul.nav__items
    li.nav__item.nav__home
      ion-icon.nav__item__icon(name='home-outline')
      .nav__item__name Home
    li.nav__item
      ion-icon.nav__item__icon(name='telescope-outline')
      p.nav__item__name Explore
    li.nav__item
      ion-icon.nav__item__icon(name='notifications-outline')
      p.nav__item__name Notifications
    li.nav__item
      ion-icon.nav__item__icon(name='mail-outline')
      p.nav__item__name Messages
    li.nav__item
      ion-icon.nav__item__icon(name='bookmark-outline')
      p.nav__item__name Bookmarks
    li.nav__item
      ion-icon.nav__item__icon(name='list-outline')
      p.nav__item__name Lists
    li.nav__item.nav__profile
      ion-icon.nav__item__icon(name='person-outline')
      p.nav__item__name Profile
  button.btn.btn--logout
    | Logout