.sidebar
  .searchbar
    ion-icon.searchbar__icon(name='search-outline')
    input.searchbar__input(type='text' placeholder='Search Twitter')
  .happening-section
    h3.happening-section__title What&apos;s happening
    ul.happenings
      li.happening
        p.happening__trending Trending in Africa
        p.happening__name Rick And Morty
        p.happening__tweet-number 1669 tweets
      li.happening
        p.happening__trending Trending in Africa
        p.happening__name Rick And Morty
        p.happening__tweet-number 1669 tweets
      li.happening
        p.happening__trending Trending in Africa
        p.happening__name Rick And Morty
        p.happening__tweet-number 1669 tweets
      li.happening
        p.happening__trending Trending in Africa
        p.happening__name Rick And Morty
        p.happening__tweet-number 1669 tweets
      li.happening
        p.happening__trending Trending in Africa
        p.happening__name Rick And Morty
        p.happening__tweet-number 1669 tweets
  .who-to-follow-section
    h3.who-to-follow-section__title Who to follow
    ul.who-to-follow__users
      li.who-to-follow__user
        .who-to-follow__user-avatar-container
          img.avatar--small(src='/img/users/avatars/default.jpg' alt='User avatar')
        .who-to-follow__user-info
          div
            p.name John Xina
            p.username @johnXina
          button.btn.btn--follow Follow
      li.who-to-follow__user
        .who-to-follow__user-avatar-container
          img.avatar--small(src='/img/users/avatars/default.jpg' alt='User avatar')
        .who-to-follow__user-info
          div
            p.name The Wock
            p.username @theWock
          button.btn.btn--follow Follow