doctype html
head
  block head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home/Twitter
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')

    link(href='/css/general.css' rel='stylesheet')
    link(href='/css/buttons.css' rel='stylesheet')
    link(href='/css/home.css' rel='stylesheet')
    link(href='/css/reply.css' rel='stylesheet')
    link(href='/css/navbar.css' rel='stylesheet')
    link(href='/css/content.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    link(href='/css/sidebar.css' rel='stylesheet')

    link(rel = 'icon', type = 'image/png', href = '#')

    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(type='module' src = '/js/controllers/tweetsController.js')
    script(type='module' src = '/js/controllers/navbarController.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')

main.home
  include _sidebar

  block content 

  include _navbar