doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/general.css')
  link(rel='stylesheet' href='/css/buttons.css')
  link(rel='stylesheet' href='/css/forgot_password.css')
  title Reset password
  script(type='module' src='/js/controllers/forgotPasswordController.js')
  script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
  script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
main.forgot-password
  header.forgot-password__header
    ion-icon.forgot-password__header-icon(name='logo-twitter')
    h2.forgot-password__header-title Find your Vietweet account
  form.forgot-password__form
    .forgot-password__form-item
      label.forgot-password__form-label(for='username') Enter your email or username
      input#username.forgot-password__form-input(type='text' placeholder='jonas@example.com' required='true')
    button.btn.btn--forgot-password.btn--forgot-password-search
      | Search
  .forgot-password__message-container.hidden
    p.forgot-password__message
      | We have sent an email to someemail@example.com. Please go to your
      | email account and perform instructions in the email. Keep in mind that
      | this email is only valid for 10 minutes.
    a.btn.btn--forgot-password.btn--go-to-login(href = '/')
      | Go back to login page
