doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/general.css')
  link(rel='stylesheet' href='/css/buttons.css')
  link(rel='stylesheet' href='/css/reset_password.css')
  title Reset password
  script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
  script(type='module' src=`/js/controllers/resetPasswordController.js`)
  script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
main.reset-password(data-token=`${token}`)
  header.reset-password__header
    ion-icon.reset-password__header-icon(name='logo-twitter')
    h2.reset-password__header-title Reset your password
  form.reset-password__form(class = `${valid ? "" : 'hidden'}`)
    .reset-password__form-item
      label.reset-password__form-label(for='password') Enter your new password
      input#password.reset-password__form-input(type='password' placeholder='●●●●●●●●' required='true')
    button.btn.btn--reset-password.btn--reset-password-change
      | Reset my password
  .reset-password__message-container(class = `${valid ? 'hidden' : ""}`)
    p.reset-password__message
      | Sorry but the reset token is invalid. Please try a new reset password
      | link.
    a.btn.btn--forgot-password.btn--go-to-login(href = '/')
      | Go back to login page
