.btn,
.btn:visited,
.btn:link {
  cursor: pointer;
  background: none;
  border: none;
  padding: 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
  border-radius: 11px;
  transition: all 0.3s;
}

.btn.btn--edit-profile {
  border: 3px solid #1da1f2;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: #1da1f2;
}

.btn--edit-profile:hover {
  background-color: #d0ebff;
}

.btn.btn--save-profile {
  background-color: #000;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.btn.btn--follow {
  font-size: 1.5rem;
  background-color: #14171a;
  color: #f5f8fa;
  padding: 1rem 1.6rem;
}

.btn.btn--unfollow {
  border: 3px solid #1da1f2;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: #1da1f2;
}

.btn.btn--tweet,
.btn.btn--submit {
  position: relative;
  background: #1da1f2;
  color: #f5f8fa;
  padding: 0.6rem 2.4rem;
  font-size: 1.4rem;
}

.btn--tweet:hover,
.btn--submit:hover {
  background: #1a91da;
}

.btn--tweet:disabled {
  background: #a5d8ff;
  cursor: not-allowed;
}

.btn.btn--upload {
  position: relative;
  background-color: #e03131;
  color: #f5f8fa;
  /* border: 4px solid #1da1f2; */
  /* color: #14171a; */
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 1rem;
}

.btn--upload:hover {
  background-color: #ca2c2c;
}

.btn.btn--delete-account {
  background-color: #e03131;
  color: #14171a;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  margin-left: 2rem;
  border-radius: 9px;
}

.btn--delete-account:hover {
  background-color: #ca2c2c;
}

.btn.btn--cancel {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  margin-left: 2rem;
  border-radius: 9px;
}

.btn.btn--change-password {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  margin-left: 2rem;
  border-radius: 9px;
}

.btn.btn--logout {
  padding: 1.6rem 1.6rem;
}

.btn--logout {
  width: 100%;
  background-color: #e03131;
  color: #f5f8fa;
}

.btn--logout:hover {
  background-color: #ca2c2c;
}

.btn--full,
.btn--full:visited,
.btn--full:link {
  position: relative;
  background: #1da1f2;
  color: #f5f8fa;
}

.btn--full:hover,
.btn--full:active {
  background: #1a91da;
}

.btn.btn--reset-password,
.btn.btn--forgot-password {
  background-color: #1da1f2;
  color: #f5f8fa;
}

.btn.btn--forgot-password,
.btn.btn--reset-password:hover {
  background-color: #1a91da;
}
