.change-password {
  width: 50rem;
  padding: 1.2rem 1.6rem;
  border-radius: 11px;
  z-index: 11000;
}

.change-password__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

.change-password__icon {
  font-size: 4.8rem;
  color: #1da1f2;
  text-align: center;
}

.change-password__title {
  font-size: 2.4rem;
}

.change-password__message {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.change-password__form-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3rem;
}

.change-password__form-label {
  font-size: 1.6rem;
  font-weight: 500;
}

.change-password__form-input {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 11px;
  background-color: #e1e8ed;
  padding: 1.2rem 1.6rem;
}

.change-password__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
