.follow__tabs {
  display: flex;
  font-size: 1.6rem;
  color: #657786;
  font-weight: 500;
}

.follow__tab {
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.follow__tab:hover {
  background-color: #e1e8ed;
}

.follow__tab.follow__tab--active {
  color: #14171a;
  font-weight: 700;
}

.follow__tab--active {
  border-bottom: 5px solid #1da1f2;
}
