.reset-password {
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin: auto;
  padding-top: 2.4rem;
}

.reset-password__header {
  margin-bottom: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
}

.reset-password__header-icon {
  font-size: 4.8rem;
  color: #1da1f2;
}

.reset-password__header-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.reset-password__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.reset-password__form-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.reset-password__form-label {
  font-size: 1.6rem;
  font-weight: 700;
  color: #14171a;
}

.reset-password__form-input {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 11px;
  background-color: #e1e8ed;
  padding: 1.2rem 1.6rem;
}

.reset-password__message-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.reset-password__message {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
}
